export(author_course, 
       preview_chapter, 
       datamind_login, 
       upload_chapter,
       upload_course); 

import(slidify);
import(RCurl);
import(httr);
import(RJSONIO);
import(XML);
import(yaml);