				<div class="exercise document" id="exercise{{slide.num}}">
					<div class="page-header">
						<h1>{{{slide.title}}}</h1>
					</div>

					<div class="row">
						{{{slide.content}}}
					</div>

					<div class="row">
						<h2>Instructions</h2>
						{{{slide.instructions.html}}}
					</div>
					<div class="row">
						<h2>Hint</h2>
						{{{slide.hint.html}}}						
					</div>
					<div class="row">
						<h2>Sample code</h2>
							{{{slide.sample_code.html}}}
					</div>
					<div class="row">
						<h2>Solution</h2>
							{{{slide.solution.html}}}
					</div>
					<div class="row">
						<h2>Submission Correctness Test</h2>
							{{{slide.sct.html}}}
					</div>
					<div class="row">
						<h2>Pre-Exercise Code</h2>
  						{{{slide.pre_exercise_code.html}}}							
					</div>
				</div>
